.review {
    display: grid;
    grid-template-columns: 0.5fr 1fr 1fr 0.5fr;
}

.left-side {
    background-color: white;
}

.middle {
    display: grid;
    grid-template-rows: max-content;
    background-color: black;
    grid-column: 2/4;
}

.right-side {
    background-color: white;
    grid-column: 4;
}


.review h1, p {
    padding-left: 10%;
    color: white;
}

.review p {
    font-style: italic;
}

.first-block { /* надо как-то убрать отступы у first-block (снизу) */
    grid-row: 2;
    grid-column: 2/4;
}

.second-block {
    grid-row: 3;
    grid-column: 2/4;
}

.second-block img:nth-child(1) {
    grid-column: 2;
}

.second-block img:nth-child(2) {
    grid-column: 3;
}