<form action="{{url_for('logout')}}" method="post"><button link="{{url_for('logout')}}">logout</button></form>
<form action="{{url_for('createPresentation')}}" method="get"><button link="{{url_for('createPresentation')}}">create presentation</button></form>
<form action="{{url_for('updatePresentation')}}" method="get"><button link="{{url_for('updatePresentation')}}">update presentation</button></form>
<form action="{{url_for('removePresentation')}}" method="get"><button link="{{url_for('removePresentation')}}">remove presentation</button></form>

Вы в админке